form .form-group {
	min-height: 34px;
	margin-bottom: 0px;
}

.form-control:focus {
	border-color: $color-font-interact;
	box-shadow: none !important;
}

form.form-inline > .form-group {
	margin-right: 5px;
}

form.form-inline .form-group {
	position: relative;

	.help-block {
		position: absolute;
		left: 0;
		bottom: -15px;
		margin: 0;
		font-size: 1.1rem;
	}
}

form.form-inline .input-group {
	width: 100%;

	.form-group {
		width: 100%;

		.form-control {
			width: 100%;
			border-radius: 4px;
		}
	}

	.input-group-btn {
		padding-left: 5px;
		text-align: center;
		width: 1%;

		.btn {
			width: 100%;
			border-radius: 4px;
		}
	}
}

@include breakpoint-tablet() {
	form.form-inline {
		text-align: center;
	}
}

@include breakpoint-phone() {
	form.form-inline > * {
		margin-right: 0;
	}
}