.icon.ravenicon {
	position: relative;
	display: inline-block;
	top: 1px;
	width: 1em;
	height: 1em;
	line-height: 1em;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;

	&.ravenicon-share {
		background-image: url('/assets/img/ravenicon/ravenicon-share.svg');
	}

	&.ravenicon-calendar {
		background-image: url('/assets/img/ravenicon/ravenicon-calendar.svg');
	}

	&.ravenicon-plus {
		top: auto;
		background-image: url('/assets/img/ravenicon/ravenicon-plus.svg');
	}

	&.ravenicon-minus {
		top: auto;
		background-image: url('/assets/img/ravenicon/ravenicon-minus.svg');
	}

	&.ravenicon-question-mark {
		background-image: url('/assets/img/ravenicon/ravenicon-question-mark.svg');
	}
}